.main_page {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#chess_start {
    color: black;
    background: white;
    border: 1px solid black;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    text-decoration: unset;
    margin-bottom: 10px;
}

.main_page > #chess_start {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
}
.main_page > #chess_board {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#chess_board {
    border: 1px dashed red;
    width: 520px;
    height: 520px;
    border-radius: 10px;
}

.chess_row{
    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
.chess_col{
    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

.black_cell {
    background-color: black;
}
.white_cell{
    background-color: white;
}